* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #030c2c;
    background-image: url('');
    background-repeat: no-repeat;
    background-size: 100% 30vh;
}

h1 {
    text-align: center;
    font: normal 50px Arial, Helvetica, sans-serif;
    color: rgb(180, 88, 255);
}

nav {
    padding-top: 15px;
}

nav ul {
    list-style-type: none;
    font: normal 20px Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 75px;
}

nav ul li {
    display: inline;
    padding-right: 80px;

}

nav ul li a {
    text-decoration: none;
    color:rgb(194, 134, 218);
}


.box-1 {
    padding-top: 10px;
    padding-bottom: 10px;
    color:rgb(255, 255, 255);
}

.box-1 p {
    padding-left: 10px;
    font: normal 20px Arial, Helvetica, sans-serif;
}

.box-1 p a {
    color: red;
}

.box-2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.box-2 p {
    font: normal 20px Arial, Helvetica, sans-serif;
    padding-top: 50px;
    padding-left: 10px;
    color: rgb(255, 255, 255);
}

.box-2 p a {
    color: rgb(0, 0, 0);
}

.box-3 {
    padding-bottom: 100px;
}

.box-3 p {
    font: normal 20px Arial, Helvetica, sans-serif;
    padding-top: 50px;
    padding-left: 10px;
    color: rgb(255, 255, 255);
}

.box-3 p a {
    color: rgb(0, 0, 0);
}

.box-4 {
    padding-bottom: 100px;
}

.box-4 p {
    font: normal 20px Arial, Helvetica, sans-serif;
    padding-left: 15px;
    color: rgb(255, 255, 255);
}

.box-4 p a {
    color: rgb(0, 0, 0);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 4px;
    font-size: 1.3rem;
    background-color: #0f0192;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .footer img {
     padding-right: 10px;
     padding-left: 10px;
 }
