* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background-color: black;
    background-image: url('https://media2.giphy.com/media/26BROrSHlmyzzHf3i/giphy-downsized.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

h1 {
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 5s infinite linear;
  -webkit-animation: hue 5s infinite linear;
  text-align: center;
  font: bold 50px Arial, Helvetica, sans-serif;
}

nav {
  padding-bottom: 50px;
}

nav ul {
    list-style-type: none;
    font: normal 20px Arial, Helvetica, sans-serif;
    text-align: center;
}

nav ul li {
    display: inline;
    padding-right: 80px;

}

nav ul li a {
    text-decoration: none;
    animation: hue 5s infinite linear;
    -webkit-animation: hue 5s infinite linear;
}

.box-1 {
  display: grid;
  grid-template-columns: 500px 500px 500px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.box-1 .video {
  padding-bottom: 20px;
}

#pogA {
  animation: pogAnim 2s infinite reverse linear;
  -webkit-animation: pogAnim 2s infinite reverse linear;
  position: relative; 
  top: 15px;
}

#pogB {
  animation: pogAnim 2s infinite linear;
  -webkit-animation: pogAnim 2s infinite linear;
  position: relative; 
  top: 15px;
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(360deg);
  }
}

@keyframes pogAnim {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: 500px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
}