* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(44, 48, 53);
    margin: 0;
    background-image: url('https://wallpaperaccess.com/full/1890774.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

h1 {
    text-align: center;
    font: normal 50px Arial, Helvetica, sans-serif;
    color:rgb(208, 89, 0);
}

nav{
    padding-top: 15px;
}

nav ul {
    list-style-type: none;
    font: normal 20px Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 200px;
}

nav ul li {
    display: inline;
    padding-right: 80px;

}

nav ul li a {
    text-decoration: none;
    color:rgb(188, 80, 9);
}

.box-1 {
    padding-bottom: 100px;
}

.box-1 p {
    font: bold 30px Arial, Helvetica, sans-serif;
    padding-left: 15px;
    color: rgb(181, 83, 27);
}

.box-1 p a {
    color: rgb(234, 132, 46);
}

.box-2 {
    padding-bottom: 100px;
}

.box-2 p {
    font: bold 30px Arial, Helvetica, sans-serif;
    padding-left: 15px;
    color: rgb(181, 83, 27);
}

.box-2 p a {
    color: rgb(234, 132, 46);
}

.box-3 {
    padding-bottom: 100px;
}

.box-3 p {
    font: bold 30px Arial, Helvetica, sans-serif;
    padding-left: 15px;
    color: rgb(181, 83, 27);
}

.box-3 p a {
    color: rgb(234, 132, 46);
}

.box-4 {
    padding-bottom: 100px;
}

.box-4 p {
    font: bold 30px Arial, Helvetica, sans-serif;
    padding-left: 15px;
    color: rgb(181, 83, 27);
}

.box-4 p a {
    color: rgb(234, 132, 46);
}

.box-5 {
    padding-bottom: 100px;
}

.box-5 p {
    font: bold 30px Arial, Helvetica, sans-serif;
    padding-left: 15px;
    color: rgb(181, 83, 27);
}

.box-5 p a {
    color: rgb(234, 132, 46);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3e3a37;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.box {
    padding-top: 100px;
}

 .box-anim {
    padding: 10px;
    bottom: 50px;
    width: 40%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    animation-name: bottomin;
    animation-duration: 2s;
    animation-fill-mode: forwards;
 }

.box-anim p {
    text-align: center;
    font-size: 60px;
}

.box-anim ul {
    list-style-type: none;
    font-size: 1.5rem;
}

 @keyframes bottomin {
    from {
        left: -40%;
        background-color: rgb(183, 0, 255);
        color:  rgb(183, 0, 255);
    } 
    to {
        left: 50px;
        background-color: rgba(255, 255, 255, 0.5);
        color: black;
    }
 }
